:root{
    --dark-gray: rgb(44, 39, 39);
    --white:rgb(255, 255, 255);
    --h1-size: 2.2rem;

    
    /* Project 1 - milrab*/
    --clr-milrab-main: white;
    --clr-milrab-support:rgb(44, 39, 39);



   
}